body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  overflow-x: hidden; /* hide extra width from banner image */
  -webkit-overflow-scrolling: touch; /* Disable horizontal overflow for Safari */

  /* height: 120vh; */
}

/* 
===============================
            Fonts
===============================
*/

.font-x-large{
  font-size: clamp(45px, 6vw, 95px);
}

.font-large{
  font-size: clamp(33px, 4vw, 75px);
}

.font-medium{
  font-size: clamp(22px, 2.5vw, 33px);
}

.font-small{
  font-size: clamp(12px, 1.25vw, 15px);
}


/* 
===============================
            Navbar
===============================
*/

.navbar {
	background-color: transparent;
}

.navbar.colorChange {
	background-color: rgb(46, 54, 79, 0.3);  /* the last number control transparency youtube color #818181;*/

  /* depth shade effect */
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 15px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 15px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 15px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 15px;
}


/*
============================
       toggle button
============================ 
*/

.container {
  display: inline-block;
  cursor: pointer;
  align-items: center;

}

/* Nav */
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color:  #fff;  /* youtube color #818181; / previous colour: #000000*/ 
  margin: 6px 0;
  transition: 0.4s;
}

/* Sidenav */
.bar01, .bar02, .bar03 {
  width: 25px;
  height: 2px;
  background-color:  #ffffff;  /* youtube color #818181;*/
  margin: 6px 0;
  transition: 0.4s;
}



/* 
===============================
            Footer
===============================
*/

footer a, footer p{
  z-index: 10 !important;
position: relative;
width: fit-content;

}



/* 
===============================
            Buttons
===============================
*/

/* carousel */
div.carousel-caption button{
  background-color: black;
  border: 1px solid black;
  color:#fff;
}

div.carousel-caption button:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color:black;


}

